html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #FFF;
    width: 100%;
    height: 100%;
    font-family: Roboto-Thin, sans-serif;
}

.viewPanel {
    width: 100%;
    height: 100%;
}

.section {
    width: 100%;
    height: 100%;
}

.home-section {
    padding: 50px;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;
}
.not-found-section {
    padding: 50px;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;
}